*{
  margin: 0px;
  padding: 0px;
}

h1{
  color: rgb(11, 1, 1);
  font-size: 70px;
}
body {
  background-color: rgb(144, 40, 40);
  background-image:url(recipe.jpg);
}

.main-box {
  /* background-color: rgb(27, 113, 113); */
  display: flex;
  width: 100%;
  height: 90px;
  /* border: 2px solid black; */
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.main-input {
  margin-right: 700px;
}

.input-box {
  background-color: aqua;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 380px;
  height: 42px;
  border: 2px solid black;
  border-radius: 10px;
}

i {
  font-size: 25px;
  background-color: aqua;
}

button {
  border: none;
  background-color: aqua;
  outline: none;
}

.rec-input {
  font-size: 25px;
  border: none;
  background-color: aqua;
  outline: none;
}

.text-box{
    background-color: aqua;
margin-left: 420px;
    border: 2px solid black;
    width: 530px;
    margin-top: 25px;
    border-radius: 10px; 
    height: 450px;
}

.dish-name{
    margin-top: 10px;
    text-align: center;
    font-size: 25px;

}

.dish-info{
    margin-top: 18px;
    font-weight: 400;
}
.ingre-info {
    display: inline;
    font-weight: 400;
  
}


.inst-info {
  display: inline;
}
.ingredients{
    font-size: 20px;
    font-weight: 400;
}
